<div class="login">
    <h2>Login</h2>

    <div id="form-result" hx-swap="innerHTML"></div>
    <form id="login-form" hx-swap="outerHTML">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <button hx-post="{% url 'login' %}" hx-target="#form-result">Login</button>
    </form>
</div>
